{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h1>Dashboard</h1>
<br/><br/>
<p>You are logged In!</p>

<a href="{{url_for('logout')}}">Logout</a>

<br/><br/>
<div class="card-body">
    <h5 class="card-title">Welcome To Your User Dashboard...</h5>
    <p class="card-text">
    	<strong>Name:</strong>
	{{ current_user.name }}<br/>

	<strong>User Id:</strong>
	{{ current_user.id }}<br/>

	<strong>Email:</strong>
	{{ current_user.email }}<br/>

	<strong>Date Joined:</strong>
	{{ current_user.date_added }}<br/>
	

    	
    </p>
    <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>

    <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-secondary btn-sm">Update Profile</a>

    <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete Account</a>


  </div>
</div>

{% endblock %}