<!-- 필드오류 -->
{% for field, errors in form.errors.items() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<!-- flash 오류 -->
{% for message in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" >
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}