<html>

<head>
    <title>elice - 자유게시판 만들기</title>
    <style>
        body {
            /* background-color: #bda5eb; */
            background-color: #7979D3;
        }

        .wrap {
            width: 680px;
            margin: 10px auto;
        }

        .title {
            text-align: center;
            color: aliceblue;
        }
    </style>
    <script>
        function postContent() {
            alert("POST Content!")
        }

        function postLike(id) {
            alert("POST Like!")
        }

    </script>
</head>

<body>
    <h4> index.html </h4>
</body>

</html>