{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>도서 목록</h2>
    
    <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">  
    {% for book in book_list %}
    <div class="col">
      <div class="card book-card shadow-sm h-100">
          <a href="{{ url_for('book_detail', id=book.id)}}"><img class="book-image card-img-top" width="100%" height="150" style="object-fit: scale-down;" src="{{ url_for('static', filename='images/{}'.format(book.img_path)) }}" focusable="false"> </img></a>
  
          <div class="card-body">
              <h5 class="card-title book-title" alt="{{ book.book_name }}"><a class="card-link" href="{{ url_for('book_detail', id=book.id)}}">{{ book.book_name }}</a></h5>
  
              <div class="row align-items-center">
                  <div class="col col-7">
                      <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                  </div>
                  <div class="col me-auto text-end">
                      <h6 style="font-size:0.8em;" class="card-subtitle mb-2 text-muted">{{book.stock}} 권 남음</h6>
                  </div>
                  <div class="align-self-end">
                      <a href="#" class="btn btn-primary">대여하기</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %} 
</div>

{% endblock %}