{% extends 'base.html' %}

{% block content %}

<h3 class="border-bottom pb-2">로그인</h3>
<br/><br/>
    
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}

        {{ form.hidden_tag() }}
        
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        <br/>
    
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        <br/>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

{% endblock %}