<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">레이서 도서관</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard')}}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('rental_record')}}">대여기록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('book_return')}}">반납하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout')}}">로그아웃</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_user')}}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login')}}">로그인</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>